<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- MAIN GAME -->
    <h1>The Painting Game</h1>
    <div id="app">
      <div class="main">
        <div
          @click="changeRectangleColor(index)"
          class="rectangle"
          v-for="(rect, index) in rectangles"
          :id="'rectangle_' + index"
        ></div>
      </div>
      <button class="btn" type="button" @click="restartGame">Clean</button>
      <button class="btn" type="button" @click="saveJSON">Save</button>
      <div class="d-inline">
        <button v-if="fileIsChosen" class="btn" type="button" @click="loadJSON">
          Load
        </button>
      </div>
      <br />
      <h3>{{ error }}</h3>
    </div>
    <!--  -->
    <input type="file" id="file-input" class="file-input" accept=".json,.txt" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="utils.js"></script>
    <script src="bundle.js"></script>
  </body>
</html>
