* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  margin-top: 100px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.rectangle {
  width: 10%;
  height: 10%;
}

.btn {
  margin: 5px;
  background-color: #180583;
  display: inline;
  cursor: pointer;
  color: #ffffff;
  border: none;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  transition: background-color 0.4s ease;
}
.btn:hover {
  background-color: #0d0352;
}
.btn:active {
  position: relative;
  top: 1px;
}

.d-inline {
  display: inline;
  position: relative;
}

.file-input {
  margin-top: 20px;
}
